{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="span4" >
            <div class="hero-unit" >
                <form id="search-form" method="get" action=".">
                    {{ form.as_p }}
                    <input type="submit" value="search" />
                </form>
                <div id="search-results">
                    {% if show_results %}
                        {% include "projects/projects_list.html" %}
                    {% endif %}
                </div>




            </div>
        </div>
    </div>
{% endblock %}