{% extends "base.html"%}
{%  block content %}
    {% if user.is_authenticated %}

        <div class="container-fluid">

                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Your preferred categories</li>
                            {% for category in categories %}
                                <li><a href="">{{ category.name }}</a></li>

                            {% endfor %}
                        </ul>

                        <br> <br>                     <a href="">View all projects</a>
                    </div><!--/.well -->
                </div>





        <div class="span8">
            <h2>Recent Job Posts</h2>
            <div class="hero-unit">


                {% for project in projects %}
                <ul>

                   <ul><a href="/projects/item/{{ project.pk }}"> <strong><u>{{ project.name }}</u></strong></a></ul><br>
                    {{ project.description|truncatewords_html:70 }}

                    <br>
                    <br>

                </ul>
                {% endfor %}
             </div>
        </div>


        </div>
    {% endif %}
{%endblock%}