{% extends "base.html"%}
{%  block content %}
    {% if user.is_authenticated %}

        <div class="container-fluid">

                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Your preferred categories</li>
                            {% for category in categories %}
                                <li><a href="">{{ category.name }}</a></li>

                            {% endfor %}
                        </ul>

                        <br> <br>                     <a href="">View all projects</a>
                    </div><!--/.well -->
                </div>





        <div class="span9">
            <div class="hero-unit">

                {% for project in projects %}
                <ul>

                   <ul><a href=""> {{ project.title }}</a></ul>
                    <p>{{ project.description }}</p>


                </ul>
                {% endfor %}
             </div>
        </div>


        </div>
    {% endif %}
{%endblock%}