{% extends "base.html"%}
{%  block content %}
    {% if user.is_authenticated %}
        <div class="">
        <h3> </h3>

                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Your preferred categories</li>
                            {% for category in categories %}
                                <li><a href="">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>

                        <br> <br>                     <a href="">View all projects</a>
                    </div><!--/.well -->
                </div>





            <div>{% for project in projects %}
                <ul>

                   <ul><a href=""> {{ project.title }}</a></ul>


                </ul>


            {% endfor %}
            </div>
        </div>
    {% endif %}
{%endblock%}