<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"></head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Project name</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">


    <div class="wrapper">
        <div class="span5">
            <div class="well">
                <div class="form-search">
                    <form >

                        <div class="searching">
                            <input type="search" class="span3" placeholder="Search products" name="search" id="search"/><i class="icon-search"></i>
                        </div>

                    </form>
                </div>

                <div class="products">

                    <div class="product">
                        <a href="#">coffee(demo)</a>
                    </div>
                    <div class="quantity">

                    </div>
                </div>
                <div class="get_products">
                    <ul class="">
                        <li class="get_product"><span class="badge">1</span>      Coffee(demo)
                            <input class="btn btn-mini" type="button"
                                   value="@3.00">3.00<a style="float: none;" class="close">x</a></li>
                        <li class="get_product"><span class="badge">1</span><span>Coffee(demo)</span>
                            <input class="btn btn-mini" type="button"
                                   value="@3.00">3.00<a style="float: none;" class="close">x</a></li>

                    </ul>
                </div>
                <div id="calculations">
                    <div id="search">
                        <input type="search" class="span2" placeholder="Search customer" name="search" id="search"/><i class="icon-plus-sign"></i><br><p>No Customer</p>
                    </div>
                    <div id="calc">
                        <table border="0">
                            <tr>
                                <td>Subtotal</td>
                                <td>$7.95</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>$0.48</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>$8.43</td>
                            </tr>
                            <tr>
                                <td>To Pay</td>
                                <td>$8.43</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="fun-buttons">
                    <form>
                        <input class="btn" value="void" type="submit">
                        <input class="btn" value="Pay" type="submit">
                        <input class="btn" value="Quick Return" type="submit">
                        <input class="btn" value="Disc" type="submit">
                        <input class="btn btn-small btn-primary" value="Check Out" type="submit">


                    </form>
                </div>
            </div>
        </div>


        <div class="span5">
            <div class="well">

                <p align="center">Twitter Bootstrap is a free collection of tools for creating websites and web applications. It contains HTML and CSS-based design templates for typography, forms, buttons, charts, navigation and other interface components, as well as optional JavaScript extensions.

                    It is the most popular project in GitHub and is used by NASA and MSNBC among others[citation needed].</p>
            </div>
        </div>

    </div>
    <hr>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-alert.js"></script>
<script src="../assets/js/bootstrap-modal.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/bootstrap-scrollspy.js"></script>
<script src="../assets/js/bootstrap-tab.js"></script>
<script src="../assets/js/bootstrap-tooltip.js"></script>
<script src="../assets/js/bootstrap-popover.js"></script>
<script src="../assets/js/bootstrap-button.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>
<script src="../assets/js/bootstrap-carousel.js"></script>
<script src="../assets/js/bootstrap-typeahead.js"></script>

</body>
</html>


