<div id="contractor">
    <span class="add-on">
                                    <i class="icon-search"></i>
                                </span>

    <input type="search" class="span3" placeholder="Find contractors" name="search" id="search1"/>
</div>

<div id="jobs">
    <span class="add-on">
                                    <i class="icon-search"></i>
                                </span>


    <input type="search" class="span3" placeholder="Find Jobs" name="search" id="search"/>


</div>